

/* ============ base ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ============ header ============ */

header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #4141416c;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    max-width: 1224px;
}

.logo span{
    font-weight: 700;
    font-size: 1.5rem;
}
.logo span:nth-child(2){
    color: #414141;
    
}
.logo span:nth-child(1){
    color: #3434e9;
}


.menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu .link-menu ,.btn-menu{
    
    color: #414141;
}

.btn-nav .btn-menu{
    border: 1px #414141 solid;
    padding: 0.25rem 0.9rem;
    border-radius: 2em;
}

/* ============ Hero section ============ */

.hero-section{
    width: 100%; 
    display: flex;
    justify-content: center;
    min-height: 50vh;
    min-height: 60dvh;
    flex-direction: column;
}
.hero-section svg{
    width: 100%;
    margin-bottom: -1.4rem;
}
.hero-container{
    max-width: 1224px;
    width: 100%;
    height: 100%; 
    padding: 3rem 1.25rem 0 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    
}
.hero-title{
    text-align: center;
    text-transform: capitalize;
    color: #172027;
}
.hero-title span{
    color: #3434e9;
}
.hero-title h1{
    font-size: clamp(5.6vw,  4rem, 10vw);
    line-height:.9;
    letter-spacing: .05em;
    letter-spacing: .05em;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;

}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-image img{
    width: 48%;

}


/*  */
.white-section, .black-section{
    min-height: 80vh;
    min-height: 80dvh;
    width: 100%;
    background-color: #3434e9;
    color: #ffffff;
}

.white-section-container,.black-section-container{
    max-width: 1224px;
    width: 100%;
    height: 100%; 
    padding:25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 2rem;
}

.white-left, .white-right,.black-left, .black-right{
    flex: 1;
    width: 100%;
}
.white-left h2,.black-left h2{
    font-size: clamp(3vw,  4rem, 10vw);
}
.white-right,.black-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-right img, .black-right img{
    width: 80%;
}

.reverse{
    flex-direction: row-reverse;
}

/* responsive */

@media (max-width: 991.98px){
    .white-section-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }

    .black-section-container{
        flex-direction: column;
    }
    .none{
        display: none;
    }
    .hero-section svg{
        width: 100%;
        margin-bottom: -2.2rem;
    }
}
